:root {
    --md-primary-fg-color:           #006D4D;
    /* --md-primary-fg-color:           #00264C; */
    /* --md-primary-fg-color--light:    #09CE9C,
    --md-primary-fg-color--dark:     #CE0909, */
    --md-accent-fg-color:           #000000;
    /* --md-primary-fg-color--light:    #09CE9C,
    --md-primary-fg-color--dark:     #CE0909, */
}